:root {
    --background: #fdfcfd;
    --foreground: #211f26;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #121113;
        --foreground: #eeeef0;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: monospace;
}

main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.under-construction {
    width: 29ch;
    animation: typing 3.5s steps(29), blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 3em;
}

.socials {
    display: flex;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    gap: 1.5rem;
}

svg {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 500px) {
    .under-construction {
        font-size: 1.5em;
    }

    svg {
        width: 32px;
        height: 32px;
    }

    .socials {
        gap: 1rem;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
