:root {
    --background: #fdfcfd;
    --foreground: #211f26;

    --size: 300px;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: #121113;
        --foreground: #eeeef0;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: monospace;
}

main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.under-construction {
    width: 25ch;
    animation: typing 3.5s steps(25), blink 0.7s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 3em;
}

.socials {
    display: flex;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    gap: 1.5rem;
}

svg {
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 500px) {
    .under-construction {
        font-size: 1.5em;
    }

    svg {
        width: 32px;
        height: 32px;
    }

    .socials {
        gap: 1rem;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* April fools */
.af {
    min-height: 100dvh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    transition: display 1s ease-out;

    cursor: pointer;
}

.af h1 {
    color: var(--foreground);
    opacity: 0.8;

    font-size: 3em;
}

.x,
.y {
    width: var(--size);
    height: var(--size);
}

.x {
    animation: x 13s linear infinite alternate;
}

.y {
    animation: y 7s linear infinite alternate;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}

@keyframes x {
    100% {
        transform: translateX(calc(100vw - var(--size)));
    }
}

@keyframes y {
    100% {
        transform: translateY(calc(100dvh - var(--size)));
    }
}
